version: 2.1

jobs:
  build_macos_intel:
    macos:
      xcode: 14.0.1
    steps:
      - checkout
      - restore_cache:
          keys:
            - workspace-cache-macos-intel
      - restore_cache:
          keys:
            - packages-cache-macos-intel
      - run: mkdir -p ~/project/workspace/$ARTIFACT_NAME
      - run: 
          no_output_timeout: 120m
          command: ./build-ffmpeg --build
          environment:
            NUMJOBS:
              8
            ARTIFACT_NAME:
              ffmpeg_macos_intel
      - save_cache:
          key: packages-cache-macos-intel
          paths:
            - ~/project/packages/
      - save_cache:
          key: workspace-cache-macos-intel
          paths:
            - ~/project/workspace/
      - persist_to_workspace:
          root: ~/project/
          paths:
            - workspace/ffmpeg_macos_intel

  build_macos_arm:
    macos:
      xcode: 14.0.1
      resource_class: macos.m1.large.gen1
    steps:
      - checkout
      - restore_cache:
          keys:
            - workspace-cache-macos-arm
      - restore_cache:
          keys:
            - packages-cache-macos-arm
      - run: mkdir -p ~/project/workspace/$ARTIFACT_NAME
      - run: 
          no_output_timeout: 120m
          command: ./build-ffmpeg --build
          environment:
            NUMJOBS:
              8
            ARTIFACT_NAME:
              ffmpeg_macos_arm
      - save_cache:
          key: packages-cache-macos-arm
          paths:
            - ~/project/packages/
      - save_cache:
          key: workspace-cache-macos-arm
          paths:
            - ~/project/workspace/
      - persist_to_workspace:
          root: ~/project/
          paths:
            - workspace/ffmpeg_macos_arm

  build_linux:
    docker:
      - image: ubuntu
    steps:
      - checkout
      - run: apt update
      - run: apt install -y build-essential curl
      - run: 
          no_output_timeout: 120m
          command: ./build-ffmpeg --build
          environment:
            NUMJOBS:
              8

  publish: 
    docker:
      - image: ubuntu
    steps:
      - attach_workspace:
          at: ~/
      - run: mkdir /root/artifacts
      - run: |
            directory=/root/workspace
            for subdir in "$directory"/*; do
              if [ -d "$subdir" ]; then  
                subdir_name="$(basename "$subdir")"
                tar -czvf "$subdir_name.tar.gz" -C "$directory" "$subdir_name"
                mv "$subdir_name.tar.gz" /root/artifacts
              fi
            done
      - run: apt update
      - run: cd /root/
      - run: apt install -y wget
      - run: wget https://github.com/tcnksm/ghr/releases/download/v0.16.0/ghr_v0.16.0_linux_amd64.tar.gz
      - run: tar -xf ghr_v0.16.0_linux_amd64.tar.gz
      - run: 
          command: ./ghr_v0.16.0_linux_amd64/ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} /root/artifacts/ 
          environment:
            VERSION:
              version1

workflows:
  build:
    jobs:
      - build_macos_intel
      - build_macos_arm
      - build_linux
      - publish:
          requires:
            - build_macos_intel
            - build_macos_arm
            # - build_linux